body{
  background-color: black;
}
h1{
  text-align: center;
}
#headtitle{
  color: white;
}
.notes{
 width: 100%;
 background-color: black;
 float: right;
}
.add{
  background-color: black;
  color: aqua;
}

.buttons{
  background-color: black;

}
button .dButton{
  height:4px;
  width:8px;
}
.note{
  background-color: #F0E68C;
    height: 200px;
    margin:10px;
    width: 20%;
    float: left;
}
input{
  height: 30px;
  background-color: grey;
}
.eraseNote {
  float: right;
}
#saveButton {
  background-color: red;
}
#hideButton{

}
