body{
  background-image: url('back.jpeg');
  background-size: cover;
}
h1{
  text-align: center;
  color: black;
}
h3{
  text-align: center;
  color: white;
}
#headtitle{
  color: white;
}
.notes{
 width: 100%;
 height: 100%;
 background-image: url('board.jpeg');
 float: right;
}

#notediv{
  height: 100%;
  width: 100%;
}

button .dButton{
  height:4px;
  width:8px;
}
#container{
}
.note{
  background-color: #F0E68C;
    margin:5px;
    float: left;
    height:300px;
    width:175px;
}

input{
  height: 40px;
  background-color: grey;
  font-size: 32px;
  border: 3px solid white;
}
textarea{
  background-color: grey;
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 32px;
  border: 3px solid white;

}
ul{
  list-style: none;
}
#saveButton {
  background-color: grey;
}
#hideButton{

}
